image: golang

stages:
  - fmtAndUnitTest
  - sonar
  - release

# NB about symbolic link : https://redmine.priv.sewan.fr/issues/37334
fmt_and_unit_tests:
  image: $DOCKER_REGISTRY/sidevops/docker/utils/terraform-ci:latest
  stage: fmtAndUnitTest
  before_script:
    - rm -rf $GOPATH/src/gitlab.com/sewan_go_sdk
    - ln -s $CI_PROJECT_DIR $GOPATH/src/gitlab.com/
    - cd $GOPATH/src/gitlab.com/$CI_PROJECT_NAME
  script:
    - make test
  except:
    refs:
      - github_release

sonarqube_preview:
  image: $DOCKER_REGISTRY/sidevops/docker/utils/sonar-ci:latest
  stage: sonar
  script:
    - sh /opt/sonar-runner/bin/sonar-runner
      -Dsonar.host.url=$SONAR_URL
      -Dsonar.gitlab.user_token=$SONAR_GITLAB_USERTOKEN
      -Dsonar.login=$SONAR_LOGIN
      -Dsonar.analysis.mode=preview
      -Dsonar.issuesReport.console.enable=true
      -Dsonar.gitlab.commit_sha=$CI_BUILD_REF
      -Dsonar.gitlab.ref_name=$CI_BUILD_REF_NAME
      -Dsonar.gitlab.project_id=$CI_PROJECT_PATH
  except:
    refs:
      - github_release

sonarqube:
  image: $DOCKER_REGISTRY/sidevops/docker/utils/sonar-ci:latest
  stage: sonar
  script:
    - sh /opt/sonar-runner/bin/sonar-runner
      -Dsonar.host.url=$SONAR_URL
      -Dsonar.login=$SONAR_LOGIN
  except:
    refs:
      - github_release

release-process:
  image: $DOCKER_REGISTRY/sidevops/docker/utils/terraform-ci:latest
  stage: release
  script:
    - ReleaseBranchName="AutoReleaseOnTag$(date '+%Y-%m-%d_%Hh%Mm%Ss')"
    - git config --global user.email "robot@robot-ci.sewan"
    - git config --global user.name "reader@sewan.fr"
    - git remote set-url origin git@gitlab.priv.sewan.fr:rd/sewan_go_sdk.git
    - git fetch origin --prune
    - git checkout -b $ReleaseBranchName
    - rm .gitlab-ci.yml sonar-project.properties
    - sed -i 's/gitlab.com/github.com/g' $(find . -name '*.go')
    - gofmt -l $(find . -name '*.go')
    - git add .
    - git commit -m "Gitlab \"release-process\" pipeline job, update import path to match github ones and rm pipeline files."
    - git checkout github_release
    - git pull
    - git merge $ReleaseBranchName
    - git push
  only:
    refs:
      - master
      - tags
